<% include headerPartial %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0">
        <li class="breadcrumb-item"><a href="/cities"><button class="btn">Cities</button></a></li>
        <li class="breadcrumb-item"><a href="/cities/<%= city._id %>"><button class="btn btn-info"><%= city.name %>, <%= city.country %></button></a></li>
        <div class="ml-auto my-0">
            <form class="d-inline" id="delete" action="/cities/<%= city._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </ol> 
</nav>

<div class="container">
    <div class="row">
        <div class="w-100" style="text-align: center; margin: 0 auto;">
            <h1>Edit Comment Page</h1>
            <form class="w-100" action="/cities/<%= city._id%>?_method=PUT" method="POST">
                <div class="form-group w-100">
                    <input class="w-50 text-center" type="text" name="city[name]" value="<%= city.name %>" required>
                </div>
                <div class="form-group">
                    <input class="w-50 text-center" type="text" name="city[country]" value="<%= city.country %>" required>
                </div>
                <div class="form-group">
                    <input class="w-50 text-center" type="text" name="city[photo]" value="<%= city.photo %>" required>
                </div>
                <div class="form-group">
                    <input class="w-50 text-center" type="text" name="city[headline]" value="<%= city.headline %>" required>
                </div>
                <div class="form-group">
                    <textarea class="w-50 text-center" type="text" name="city[description]" required><%= city.description %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include footerPartial %>