<% include headerPartial %>

<nav class='navbar my-0 py-1 text-center' style='background: black; margin-bottom: 0 !important;'>
  <div class='py-1' aria-label='breadcrumb'>
    <a class='btn btn-outline-light py-0' href='/cities'><i class='far fa-map'></i> Destinations</a>
  </div> 

  <div class='py-1'>
    <% if (currentUser && currentUser.isAdmin) { %>
      <a href='/cities/new'>
        <button class='btn btn-success my-0 py-0'>
          <i class='fas fa-map-marker-alt'></i> Add New City
        </button>
      </a>
    <% } else { %>
      <a href='/home/#contact'>
        <button class='btn btn-success my-0 py-0'>
          <i class='fas fa-map-marker-alt'></i> Want a new city? Send us a message!
        </button>
      </a>
    <% } %>
  </div>
</nav>

<div id='citiesIndex'>
  <div class='container'>
    <h1 class='text-center'>The Cities of Wanderlustoria</h1>

    <div class='row text-center'>
      <% if (noMatch !== null) { %>
        <div class='col-lg-12'>
          <h3><%= noMatch %></h3>
          <a class='btn btn-primary my-1' href='/cities'>View All Cities</a>
        </div>
      <% } %>
      <% cities.forEach(function (city) { %>
        <div class='col-lg-4 col-md-12 col-sm-12 my-0 py-2'>
          <div class='card'>
            <div class='card-img'>
              <img src='<%= city.image %>' 
              style='object-fit: fit;
                object-position: center;
                height: 400px;
                width: 100%;' 
              />
            </div>
            <div class='card-body'>
              <h4><%= city.name.toUpperCase() %>, <%= city.country.toUpperCase() %></h4>
              <h5><em><%= city.tagline %></em></h5>
              <p><%= city.description.substring(0,100) %>...</p>
            </div>
            <div class='card-footer'>
              <a href='/cities/<%= city._id %>'>
                <button class='btn btn-info btn-block'>
                  <i class='fas fa-eye'></i> Explore
                </button>
              </a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>

    <% if (pages && pages > 0) { %>
      <div class='row w-100 mx-auto text-center my-3 py-3'>
        <ul class='pagination text-center mx-auto'>
          <% if (current == 1) { %>
            <li class='disabled'>
              <a>First</a>
            </li>
          <% } else { %>
            <li>
              <a href='/cities<%if(search){%>?search=<%=search%><%}%>'>First</a>
            </li>
          <% } %>
  
          <% if (current == 1) { %>
              <li class='disabled'>
                <a>«</a>
              </li>
          <% } else { %>
            <li>
              <a href='/cities?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>'>«</a>
            </li>
          <% } %>
    
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
              <li class='disabled'>
                <a>...</a>
              </li>
            <% } %>

            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <% if (i == current) { %>
                <li class='active'>
                  <a><%= i %></a>
                </li>
              <% } else { %>
                <li>
                  <a href='/cities?page=<%= i %><%if(search){%>&search=<%=search%><%}%>'><%= i %></a>
                </li>
              <% } %>

            <% if (i == Number(current) + 4 && i < pages) { %>
              <li class='disabled'>
                <a>...</a>
              </li>
            <% } %>
          <% } %>
  
          <% if (current == pages) { %>
            <li class='disabled'>
              <a>»</a>
            </li>
          <% } else { %>
            <li>
              <a href='/cities?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>'>»</a>
            </li>
          <% } %>
  
          <% if (current == pages) { %>
            <li class='disabled'>
              <a>Last</a>
            </li>
          <% } else { %>
            <li>
              <a href='/cities?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>'>Last</a>
            </li>
          <% } %>
        </ul>
      </div>
    <% } %>
  </div>
</div>

<% include footerPartial %>
