<% include headerPartial %>

<nav class="navbar navbar-expand-lg justify-content-between my-0 py-1 text-center" style="background: black;">
    <div class="py-1" aria-label="breadcrumb">
        <a class="btn btn-outline-secondary py-0" href="/cities">Cities</a>
        <a class="btn btn-outline-light py-0" href="/cities/<%= city._id %>"><%= city.name %>, <%= city.country %></a>
    </div> 
</nav>

<div class="container">
    <div class="row">
        <div class="w-100" style="text-align: center; margin: 0 auto;">
            <h1>New Comment Page</h1>
            <form class="w-100" action="/cities/<%= city._id %>/stories/<%= story._id%>" method="POST">
                <div class="form-group">
                    <textarea class="w-50" type="text" name="comment[body]" placeholder="Comment" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include footerPartial %>