<% include headerPartial %>

<div class="mx-0 px-0 mt-1">
  <div class="row mx-0 px-0">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card text-center">
        <div class="card-header">
          <h1>Welcome back,</h1>
          <h1><%= currentUser.firstName %>!</h1>
        </div>

        <div class="card-body">
            <img class="card-img-top img-thumbnail img-fluid mx-auto" 
            src="<%= currentUser.image.name %>" 
            alt="<%= currentUser.username %>'s Profile Image"
            style="display: block; max-width: 20rem; border-radius: 50%;">
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <h1>New Users</h1>
      <% users.forEach(function(user){ %>
        <a href="/users/<%= user.id %>"><p><%= user.firstName %> @ <%= user.createdAt %></p></a>
        <hr />
      <% }) %>

      <h1>New Stories</h1>
      <% stories.forEach(function(story){ %>
        <a href="/cities/<%= story.city.id %>/stories/<%= story.id %>"><p><%= story.title %> @ <%= story.createdAt %></p></a>
        <hr />
      <% }) %>
    </div>

    <div class="col-lg-5 col-md-4 col-sm-12">
      <h1>New Comments</h1>
      <% comments.forEach(function(comment){ %>
        <a href="/cities/<%= comment.city.id %>/stories/<%= comment.story.id %>"><p><%= comment.body %> @ <%= comment.createdAt %></p></a>
        <hr />
      <% }) %>
    </div>
  </div>
</div>

<% include footerPartial %>