<% include headerPartial %>

<div>
  <div class='header align-middle' id='header'>
    <div class='overlay' 
    style='
    position: absolute;
    margin: 0 auto;
    min-height: 60vh;
    min-width: 100%;
    background: rgba(244, 244, 244, 0.7);
    z-index: 0;
    '>
  </div>

  <div class='headline text-center' 
  style='
  position: absolute;
  top: 20%;
  vertical-align: middle;
  z-index: 1;
  min-width: 100%;
  '>
    <h1 class='title'>A Travel Vision Platform</h1>                
    <p class='subtitle'>Finding your next travel destination off the beaten path</p>
    <a href='/cities'>
      <button type='button' class='btn btn-success btn-lg'>
        <i class='far fa-compass'></i> Enter The Cities
      </button>
    </a>
  </div>
</div>
  
<div class='summary text-center py-5' 
id='summary' style='
background-color: #8EC5FC;
background-image: linear-gradient(45deg, #8EC5FC 0%, #E0C3FC 100%);
clip-path: polygon(0 0, 0 100%, 100% 95%, 100% 0);
'>
  <div class='w-50 mx-auto'>  
      <h1 class='title'>'Where should I go?'</h1>
      <p class='subtitle'>The <span class='bold underline'>first question</span> we ask our friends when we want to travel someplace new.</p>
  </div>

  <div class='row mx-0'>
    <div class='col-lg-4 col-md-4 col-sm-12'>
      <img class='img-fluid mx-auto d-block' 
      src='https://i.imgur.com/0SoBGik.jpg'
      style='
      max-height:400px; 
      -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      ' />
    </div>
    <div class='col-lg-4 col-md-4 col-sm-12'>
      <img class='img-fluid mx-auto d-block' 
      src='https://i.imgur.com/1WBZYzo.jpg'
      style='
      max-height:400px; 
      -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      ' />
    </div>
    <div class='col-lg-4 col-md-4 col-sm-12'>
      <img class='img-fluid mx-auto d-block' 
      src='https://i.imgur.com/I4qxs0G.jpg'
      style='
      max-height:400px; 
      -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      ' />
    </div>
  </div>

  <div class='w-50 mx-auto pt-5'>        
    <p><span class='wander'>Wander</span><span class='lustoria'>lustoria</span> is an experience sharing platform for travelers who dare to dream of places outside tourist traps.</p>
    <br>
      For those who wants to wants to become immersed in authentic culture outside of resorts/tours, 
      to visit a new lands and stay for longer than 2 weeks,
      or to find a new home for the expatriate doing a 180 to redesign their lifestyle.
    </p>
  </div>
</div>

<div class='stories p-5' id='stories'>
  <div class='row'>
    <div class='col-lg-6 col-md-6 col-sm-12'>
      <h1 class='title'>New Stories</h1>
      <% stories.forEach(function (story) { %>
        <a href='/cities/<%= story.city.id %>/stories/<%= story.id %>'>
          <p>
            <strong><%= story.title %></strong> 
            <%= moment(story.createdAt).format('MMMM Do, YYYY @ h a'); %>
          </p>
        </a>
        <hr />
      <% }) %>
    </div>
      
    <div class='col-lg-6 col-md-6 col-sm-12'>
      <h1 class='title'>New Comments</h1>
      <% comments.forEach(function(comment){ %>
        <a href='/cities/<%= comment.city.id %>/stories/<%= comment.story.id %>'>
          <p>
            <strong><%= comment.body %></strong>
            <%= moment(comment.createdAt).format('MMMM Do, YYYY @ h a') %>
            <% if (comment.city.name) { %>
              in <%= comment.city.name %>
            <% } %>
          </p>
        </a>
        <hr />
      <% }) %>
    </div>
  </div>
</div>

<div class='features text-center py-5' 
id='features' style='
background-color: #8EC5FC;
background-color: #8EC5FC;
background-image: linear-gradient(270deg, #8EC5FC 0%, #E0C3FC 100%);
clip-path: polygon(0 5%, 0 95%, 100% 100%, 100% 0);
'>
  <div class='row mx-0'>
    <div class='col-lg-4 col-md-4 col-sm-12'>
      <span class='summary-icons'><i class='fas fa-search fa-10x'></i></span>
      <h1 class='title'>Find</h1>
      <p class='w-100 mx-auto subtitle'>The world is filled with millions of microcosms of cultures. Let others inspire you with real pictures and stories from their cameras.</p>
      <ul class='checkmarks text-left w-75 mx-auto'>
        <li><i class='fas fa-check'></i> Find amazing destinations</li>
        <li><i class='fas fa-check'></i> Find unbelievable lifestyle quality</li>
        <li><i class='fas fa-check'></i> Find unparalleled, hidden cultures</li>
      </ul>
    </div>
    <div class='col-lg-4 col-md-4 col-sm-12 text-center'>
      <span class='summary-icons'><i class='fas fa-globe fa-10x'></i></span>
      <h1 class='title'>Share</h1>
      <p class='w-100 mx-auto subtitle'>You're the trailblazer in a fabulous new location and want to share this little piece of paradise with others. Share a photo you took and a story reveal the splendors of earth.</p>
      <ul class='checkmarks text-left w-75 mx-auto'>
        <li><i class='fas fa-check'></i> Share amazing photos</li>
        <li><i class='fas fa-check'></i> Share marvelous travel stories</li>
        <li><i class='fas fa-check'></i> Inspire others to blaze their own trail</li>
      </ul>
    </div>
    <div class='col-lg-4 col-md-4 col-sm-12 text-center'>
      <span class='summary-icons'><i class='far fa-comments fa-10x'></i></span>
      <h1 class='title'>Connect</h1>
      <p class='w-100 mx-auto subtitle'>A picture may be worth a thousand words but the right question can be worth its weight in gold. Reach out to fellow trailblazers, make new friends and reach your dreams.</p>
      <ul class='checkmarks text-left w-75 mx-auto'>
        <li><i class='fas fa-check'></i> Find new friends</li>
        <li><i class='fas fa-check'></i> Find travel buddies</li>
        <li><i class='fas fa-check'></i> Find the answers you seek</li>
      </ul>
    </div>
  </div>
</div>

<div class='start text-center py-5' id='start'>
  <div class='col-lg-12 col-md-12 col-sm-12'>
      <h1 class='title'>Every picture makes the world a smaller place</h1>
      <i class='fas fa-plane fa-10x d-block mx-auto py-3 my-5'
      style='
      border-radius: 90%;
      background-color: #8EC5FC;
      background-image: linear-gradient(0deg, #8EC5FC 0%, #E0C3FC 100%);
      '></i>

      <div class='d-flex justify-content-center subtitle'>
        <div class='w-25'>
          <p>1. Visit Destinations</p>
          <a href='/cities'><button type='button' class='btn btn-success btn-lg my-2'>
            <i class='far fa-compass'></i> Enter The Cities</button>
          </a>
        </div>
        <div class='w-25'>
          <p>2. Sign up to see stories</p>
          <a href='/register'><button class='btn btn-success btn-lg my-2'>
            <i class='fas fa-user-plus'></i> Register</button>
          </a>
        </div>
        <div class='w-25'>
          <p>3. Comment on stories</p>
          <a href='/login %>'><button class='btn btn-success btn-lg my-2'>
            <i class='fas fa-sign-in-alt'></i> Login</button>
          </a>
        </div>
      </div>
  </div>
</div>

  <div class='contact-form mx-0 py-5' 
  id='contact'
  style=' background-color: #8EC5FC;
  background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 100%);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 5%);
  '>
    <form class='mx-0' action='https://formspree.io/timh1203@gmail.com'
    method='POST'>
      <div class='row mx-0'>
        <div class='col-lg-6 col-md-4 col-md-12 text-center border-right'>
          <h1 class='title'>Get in Touch</h1>
          <i class='far fa-envelope fa-10x'></i>
          <p class='subtitle'>We would love to hear from you!</p>
        </div>
        <div class='col-lg-6 col-md-8 col-sm-12 text-center'>
          <input type='hidden' name='From' value='Wanderlustoria' />
          <input type='text' name='_gotcha' style='display:none' />
          <div class='form-group'>
            <input type='text' class='form-control form-control-lg w-50 mx-auto' placeholder='Name' name='Name' required />
          </div>
          <div class='form-group'>
            <input type='email' class='form-control form-control-lg w-50 mx-auto' placeholder='Email' name='Email' required />
          </div>

          <div class='form-group'>
            <textarea type='text' class='form-control form-control-lg  w-50 mx-auto' placeholder='Message' name='Message' required></textarea>
          </div>
          <input type='submit' class='btn btn-success btn-block w-50 mx-auto' value='Send' />
        </div>
      </div>
    </form>
  </div>
</div>
    
<% include footerPartial %>
