<% include headerPartial %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-0">
    <li class="breadcrumb-item"><a href="/cities"><button class="btn">Cities</button></a></li>
    <li class="breadcrumb-item"><a href="/cities/<%= city._id %>"><button class="btn"><%= city.name %>, <%= city.country %></button></a></li>
    <li class="breadcrumb-item"><a href="/cities/<%= city._id %>/<%= story._id %>"><button class="btn btn-info"><%= story.title %></button></a></li>
    <% if(currentUser && story.author.id.equals(currentUser._id)){ %>
      <div class="ml-auto my-0">
        <a href="/cities/<%= city._id %>/stories/<%= story._id %>/edit"><button class="btn btn-warning">Edit</button></a>
        <form class="d-inline" id="delete" action="/cities/<%= city._id%>/stories/<%= story._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    <% } %>
  </ol> 
</nav>

<div class="jumbotron mx-auto text-center pt-0">
  <h1><%= story.title.toUpperCase() %></h1>
  <h2><em><%= story.headline %></em></h2>
  <hr class="my-4">
  <img class="img-fluid w-50" src="<%= story.photo %>" alt="<%= story.title %>" />
  <p class="mt-5 w-75 mx-auto"><%= story.body %></p>
  <p>Submitted By: <%= story.author.username %></p>
</div>


<div class="Stories text-center">
  <div class="navButtons">
    <a href="/cities/<%= city._id %>/stories/<%= story._id %>/new"><button class="btn btn-primary" style="margin: 1rem 0;">Add New Comment</button></a>
  </div>

  <div class="comments">
    <% story.comments.forEach(function(comment){ %>
      <div class="comment">
        <p style="display:inline"><strong><%= comment.author.username %></strong>: <%= comment.body %></p>
        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
        <a href="/cities/<%= city._id %>/stories/<%= story._id %>/comments/<%= comment._id %>/edit">
          <button class="btn btn-warning">
            <span className="white" role="img" aria-label="lower left pencil">&#128393;</span>
          </button>
        </a>
        <form class="d-inline" id="delete" action="/cities/<%= city._id %>/stories/<%= story._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">
            <span className="white" role="img" aria-label="latin small letter x">&#120;</span>
          </button>
        </form>
        <% } %>
      </div>
    <% }) %>
  </div>

  <div class="navButtons">
    <a href="/cities/<%= city._id %>/stories/<%= story._id %>/new"><button class="btn btn-primary" style="margin: 1rem 0;">Add New Comment</button></a>
  </div>
</div>

<% include footerPartial %>
