<% include headerPartial %>

<nav class="navbar navbar-expand-lg justify-content-between my-0 py-1 text-center" style="background: black;">
  <div class="py-1" aria-label="breadcrumb">
      <a class="btn btn-outline-secondary py-0" href="/cities">Cities</a>
      <a class="btn btn-outline-secondary py-0" href="/cities/<%= city._id %>"><%= city.name %>, <%= city.country %></a>
      <a class="btn btn-outline-light py-0" href="/cities/<%= city._id %>/<%= story._id %>"><%= story.title %></a>
  </div> 
  <div class="py-1">
    <a href="/cities/<%= city._id %>/stories/<%= story._id %>/new"><button class="btn btn-success py-0">Add New Comment</button></a>
    <% if (currentUser && story.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning py-0" href="/cities/<%= city._id %>/stories/<%= story._id %>/edit">Edit</a>
        <form class="btn btn-danger p-0" 
        id="delete" 
        action="/cities/<%= city._id%>/stories/<%= story._id %>?_method=DELETE" 
        method="POST" 
        onsubmit="return confirm('Delete <%= story.title %>?');">
          <button type="submit" class="btn btn-danger btn-transparent py-0">Delete</button>
        </form>
    <% } %>
  </div>
</nav>

<div class="jumbotron mx-0 mb-0 p-0">
  <div class="row mx-0 text-center">
    <div class="col-lg-8 col-md-6 col-sm-12 my-1 py-1">
      <h1><%= story.title.toUpperCase() %></h1>
      <h2><em><%= story.location %></em></h2>
      <h2><em><%= story.date %></em></h2>
      <hr class="w-75">
      <img class="img-fluid w-75" src="<%= story.image.name %>" alt="<%= story.title %>" />
      <p class="mt-5 w-75 mx-auto"><%= story.body %></p>
      <p>Submitted by: <a href="/users/<%= story.author.id %>"><%= story.author.name %></a></p>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12 my-1 py-1" style="border: 2px solid black; border-radius: 5%;">
      <% story.comments.forEach(function(comment){ %>
        <div class="comment">
          <p class="d-inline">
            <a href="/users/<%= comment.author.id %>">
              <strong><%= comment.author.username %></strong></a>: <%= comment.body %>
          </p>
  
          <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <a class="d-inline" href="/cities/<%= city._id %>/stories/<%= story._id %>/comments/<%= comment._id %>/edit">
              <button class="btn btn-warning">
                <span className="white" role="img" aria-label="lower left pencil">&#128393;</span>
              </button>
            </a>
            
            <form class="d-inline" id="delete" action="/cities/<%= city._id %>/stories/<%= story._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">
                <span className="white" role="img" aria-label="latin small letter x">&#120;</span>
              </button>
            </form>
          <% } %>
          <hr class="w-50">
        </div>
        <% }) %>

        <a href="/cities/<%= city._id %>/stories/<%= story._id %>/new">
          <button class="btn btn-success d-block mx-auto" style="margin: 1rem 0;">Add New Comment</button>
        </a>
  </div>
</div>

<% include footerPartial %>
