<% include headerPartial %>

<nav class='navbar navbar-expand-lg justify-content-between my-0 py-1 text-center' style='background: black;'>
  <div class='py-1' aria-label='breadcrumb'>
    <a class='btn btn-outline-secondary py-0' href='/cities'>Cities</a>
    <a class='btn btn-outline-secondary py-0' href='/cities/<%= city._id %>'><%= city.name %>, <%= city.country %></a>
    <a class='btn btn-outline-light py-0' href='/cities/<%= city._id %>/stories/<%= story._id %>'><%= story.location.name %></a>
  </div> 

  <div class='py-1'>
    <form class='btn btn-danger p-0' 
    id='delete' 
    action='/cities/<%= city._id%>/stories/<%= story._id %>?_method=DELETE' 
    method='POST' 
    onsubmit='return confirm("Delete <%= story.title %>?");'>
        <button type='submit' class='btn btn-danger btn-transparent py-0'>Delete</button>
    </form>    
  </div>
</nav>

<div class='container'>
  <div class='row'>
    <div class='w-50 mx-auto text-center'>
      <h1>Edit Story Page</h1>
      <form action='/cities/<%= city._id %>/stories/<%= story._id %>?_method=PUT' method='POST' enctype='multipart/form-data'>
        <div class='form-group'>
          <label for='story[title]'>Story Title</label>
          <input class='form-control' type='text' name='story[title]' value='<%= story.title %>' maxlength='140' autofocus required />
        </div>
        <div class='form-group'>
          <label for='story[locationName]'>Location Name</label>
          <input class='form-control' type='text' name='story[locationName]' id='location' value='<%= story.location.name %>' maxlength='140' required />
        </div>
        <div class='form-group'>
          <label for='story[locationCity]'>City</label>
          <input class='form-control' type='text' name='story[locationCity]' value='<%= story.location.city %>' maxlength='140' required />
        </div>
        <div class='form-group'>
          <label for='story[locationCountry]'>Country</label>
          <input class='form-control' type='text' name='story[locationCountry]' value='<%= story.location.country %>' maxlength='140' required />
        </div>
        <div class='form-group'>
          <label for='story[locationLatitude]'>Latitude</label>
          <input class='form-control' type='text' name='story[locationLatitude]' value='<%= story.location.latitude %>' maxlength='140' required />
        </div>
        <div class='form-group'>
          <label for='story[locationLongitute]'>Longitude</label>
          <input class='form-control' type='text' name='story[locationLongitude]' value='<%= story.location.longitude %>' maxlength='140' required />
        </div>
        <div class='form-group'>
          <label for='story[date]'>Date</label>
          <input class='form-control' type='text' name='story[date]' value='<%= story.date %>' maxlength='140' required />
        </div>
        <div class='form-group'>
          <label for='story[body]'>Body</label>
          <textarea class='form-control' type='text' name='story[body]' maxlength='1000' required><%= story.body %></textarea>
        </div>
        <div class='form-group'>
          <label for='image'>image
            <input class='form-control' id='image' type='file' name='image' accept='image/*' />
          </label>
        </div>
        <div class='form-group'>
          <button class='btn btn-lg btn-primary'>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include footerPartial %>
