<% include headerPartial %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0">
        <li class="breadcrumb-item"><a href="/cities"><button class="btn">Cities</button></a></li>
        <li class="breadcrumb-item"><a href="/cities/<%= city._id %>"><button class="btn btn-info"><%= city.name %>, <%= city.country %></button></a></li>
    </ol> 
</nav>

<div class="container">
    <div class="row">
        <div class="w-100" style="text-align: center; margin: 0 auto;">
            <h1>Edit Story Page</h1>
            <form class="w-100" action="/cities/<%= city._id %>/stories/<%= story._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group w-100">
                    <input class="w-50" type="text" name="story[title]" value="<%= story.title %>" required>
                </div>
                <div class="form-group">
                    <input class="w-50" type="text" name="story[location]" value="<%= story.location %>" required>
                </div>
                <div class="form-group">
                    <input class="w-50" type="text" name="story[date]" value="<%= story.date %>" required>
                </div>
                <div class="form-group">
                    <textarea class="w-50" type="text" name="story[body]" required><%= story.body %></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input id="image" type="file" name="image" accept="image/*">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include footerPartial %>