<% include headerPartial %>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
      <div class="card">
        <div class="card-header">
          <h1><%= user.firstName + " " + user.lastName %></h1>
          <h3><%= user.username %></h3>
        </div>

        <div class="card-body">
            <img class="card-img-top img-fluid img-thumbnail rounded mx-auto" 
            src="<%= user.image.name %>" 
            alt="<%= user.username %>'s Profile Image"
            style="display: block; max-width: 20rem;">
          <p class="card-text"><%= user.body %></p>
        </div>

        <div class="card-footer text-center btn-group-vertical">
          <a class="btn btn-primary w-50 my-1 align-self-center" href="#">Direct Message</a>
        <% if (currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <a class="btn btn-warning w-50 my-1 align-self-center" href="#">Change Password</a>
          <a class="btn btn-warning w-50 my-1 align-self-center" href="/users/<%= user._id %>/edit">Edit Profile</a>
          <% if(currentUser && currentUser.isAdmin){ %>
            <form class="w-50 my-1 align-self-center" action="/users/<%= user._id %>?_method=DELETE" method="POST">
              <a class="btn btn-danger">Delete Profile</a>
            </form>
          <% } %>
        <% } %>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 py-1">
      <h1>Stories</h1>
      <% stories.forEach(story => { %>
        <p><a href="/cities/<%= story.city.id %>/stories/<%= story._id %>"><%= story.title %> (<%= story.city.name %>, <%= story.city.country %>)</a></p>
      <% }) %>
    </div>
  </div>
</div>
<% include footerPartial %>